<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>ERIC</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous" />
  <link rel="stylesheet" type="text/css"
    href="https://cdn.datatables.net/v/bs5/jszip-2.5.0/dt-1.12.1/b-2.2.3/b-colvis-2.2.3/b-html5-2.2.3/datatables.min.css" />
  <script src="https://kit.fontawesome.com/2a5cce350d.js" crossorigin="anonymous"></script>
</head>

<body class="bg-dark text-light">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">ERIC v<%= version %></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#eric-navbar"
        aria-controls="eric-navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="eric-navbar">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">
              <%= selectedLangPack?.text?.search || `search` %>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/faq">
              <%= selectedLangPack?.text?.faq || `faq` %>
            </a>
          </li>
        </ul>
      </div>
      <div class="dropstart">
        <span class="dropdown-toggle text-dark" href="#" id="langSelect" role="button" data-bs-toggle="dropdown"
          aria-expanded="false">
          <%= selectedLangPack?.text?.change_language || `change_language` %>
        </span>
        <ul class="dropdown-menu" aria-labelledby="langSelect">
          <% langs.forEach(lang=> { %>
            <li>
              <a class="dropdown-item" href="?lang=<%=lang %>">
                <%= selectedLangPack?.langs?.[lang] || lang %>
              </a>
            </li>
            <% }); %>
        </ul>
      </div>
    </div>
  </nav>
  <main class="container">
    <form id="eric-form">
      <div class="d-flex">
        <div class="flex-grow-1">
          <h4 class="mt-4">
            <%= selectedLangPack?.text?.search_params || `search_params` %>
          </h4>
        </div>
        <div style="text-align: right">
          <div class="btn-group">
            <a href="/" class="btn btn-warning mt-4" id="clear-search">
              <%= selectedLangPack?.text?.clear_search || `clear_search` %>
            </a>
            <button type="button" class="btn btn-primary mt-4" id="advanced-search-toggle">
              <span class="on-hidden">
                <%= selectedLangPack?.text?.advanced_search || `advanced_search` %>
                  <i class="fas fa-caret-down"></i>
              </span>
              <span class="on-shown hide">
                <%= selectedLangPack?.text?.simple_search || `simple_search` %>
                  <i class="fas fa-caret-up"></i>
              </span>
            </button>
          </div>
        </div>
      </div>
      <div class="form-group mt-3">
        <div class="input-group">
          <select name="text-search-type" class="form-select">
            <option <% if (query['text-search-type']==="title" ) { %> selected <% } %>
                value="title"
                ><%= selectedLangPack?.text?.title || `title` %>
            </option>
            <option <% if (query['text-search-type']==="summary" ) { %> selected <% } %>
                value="summary"
                ><%= selectedLangPack?.text?.title_and_summary || `title_and_summary` %>
            </option>
            <option <% if (query['text-search-type']==="all" ) { %> selected <% } %>
                value="all"
                ><%= selectedLangPack?.text?.all_three || `all_three` %>
            </option>
          </select>
          <input type="text" class="form-control" name="text-search"
            placeholder="<%= selectedLangPack?.text?.text_search || `text_search` %>" style="flex-grow: 4"
            value="<%= query['text-search'] %>" />
        </div>
      </div>
      <div class="collapse" id="advanced-search">
        <div class="row mt-3">
          <div class="col-md-6">
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-text">
                  <%= selectedLangPack?.text?.created_after || `created_after` %>
                </span>
                <input type="date" class="form-control" name="date-created-after"
                  value="<%= query['date-created-after'] %>" />
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-text">
                  <%= selectedLangPack?.text?.created_before || `created_before` %>
                </span>
                <input type="date" class="form-control" name="date-created-before"
                  value="<%= query['date-created-before'] %>" />
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-6">
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-text">
                  <%= selectedLangPack?.text?.last_updated_after || `last_updated_after` %>
                </span>
                <input type="date" class="form-control" name="date-updated-after" />
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-text">
                  <%= selectedLangPack?.text?.last_updated_before || `last_updated_before` %>
                </span>
                <input type="date" class="form-control" name="date-updated-before" />
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-6">
            <div class="form-group">
              <label for="min-prize">
                <%= selectedLangPack?.text?.min_prize || `min_prize` %>
              </label>
              <strong id="min-prize-value">
                <%= query['min-prize'] || config.prizeMin %>
              </strong>
              <input type="range" class="form-range" name="min-prize"
                placeholder="<%= selectedLangPack?.text?.min_prize || `min_prize` %>" step="<%= config.prizeStep %>"
                min="<%= config.prizeMin %>" max="<%= query['max-prize'] || config.prizeMax %>"
                value="<%= query['min-prize'] || config.prizeMin %>" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="max-prize">
                <%= selectedLangPack?.text?.max_prize || `max_prize` %>
              </label>
              <strong id="max-prize-value">
                <%= query['max-prize'] || config.prizeMax %>
              </strong>
              <input type="range" class="form-range" name="max-prize"
                placeholder="<%= selectedLangPack?.text?.max_prize || `max_prize` %>" step="<%= config.prizeStep %>"
                min="<%= query['min-prize'] || config.prizeMin %>" max="<%= config.prizeMax %>"
                value="<%= query['max-prize'] || config.prizeMax %>" />
            </div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-6">
            <div class="form-group">
              <label for="min-members">
                <%= selectedLangPack?.text?.min_members || `min_members` %>
              </label>
              <strong id="min-members-value">
                <%= query['min-members'] || config.memberMin %>
              </strong>
              <input type="range" class="form-range" name="min-members"
                placeholder="<%= selectedLangPack?.text?.min_members || `min_members` %>"
                step="<%= config.membersStep %>" min="<%= config.membersMin %>"
                max="<%= query['max-members'] || config.membersMax %>"
                value="<%= query['min-members'] || config.membersMin %>" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="max-members">
                <%= selectedLangPack?.text?.max_members || `max_members` %>
              </label>
              <strong id="max-members-value">
                <%= query['max-members'] || config.membersMax %>
              </strong>
              <input type="range" class="form-range" name="max-members"
                placeholder="<%= selectedLangPack?.text?.max_members || `max_members` %>"
                step="<%= config.membersStep %>" min="<%= query['min-members'] || config.membersMin %>"
                max="<%= config.membersMax %>" value="<%= query['max-members'] || config.membersMax %>" />
            </div>
          </div>
        </div>
        <div class="form-group mt-3">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="no-owner" id="no-owner" <% if (query['no-owner']) { %>
            checked <% } %>
              />
              <label class="form-check-label" for="no-owner">
                <%= selectedLangPack?.text?.no_owner || `no_owner` %>
              </label>
          </div>
        </div>
        <h4 class="mt-4">
          <%= selectedLangPack?.text?.guild_parameters || `guild_parameters` %>
        </h4>
        <div class="form-group mt-3">
          <input type="text" class="form-control" name="text-search-guild"
            placeholder="<%= selectedLangPack?.text?.guild_search || `guild_search` %>" style="flex-grow: 4"
            value="<%= query['text-search-guild'] %>" />
        </div>
        <div class="row mt-3">
          <div class="col-md-6">
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-text">
                  <%= selectedLangPack?.text?.classification || `classification` %>
                </span>
                <select name="guild-class" class="form-select">
                  <option value="">
                    <%= selectedLangPack?.text?.classification || `classification` %>
                  </option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-text">
                  <%= selectedLangPack?.text?.sub_classification || `sub_classification` %>
                </span>
                <select name="guild-subclass" class="form-select">
                  <option selected disabled>
                    <%= selectedLangPack?.text?.sub_classification || `sub_classification` %> (<%=
                        selectedLangPack?.text?.select_classification_first || `select_classification_first` %>)
                  </option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group mt-3">
          <div class="input-group">
            <span class="input-group-text">
              <%= selectedLangPack?.text?.lang_preference || `lang_preference` %>
            </span>
            <select name="guild-lang-type" class="form-select">
              <option value="primary">
                <%= selectedLangPack?.text?.primary || `primary` %>
              </option>
              <option value="both">
                <%= selectedLangPack?.text?.primary_and_secondary || `primary_and_secondary` %>
              </option>
            </select>
            <select name="guild-lang" class="form-select" style="flex-grow: 4">
              <option selected disabled>
                <%= selectedLangPack?.text?.language || `language` %>
              </option>
            </select>
          </div>
        </div>
      </div>
      <div class="d-grid gap-2">
        <button type="submit" class="btn btn-success mt-3">
          <%= selectedLangPack?.text?.search || `search` %>
        </button>
      </div>
    </form>
    <div class="result mt-4">
      <table id="eric-results" class="table table-dark"></table>
      <p>
        <%= selectedLangPack?.text?.last_updated || `last_updated` %>: <%= lastUpdated %>
      </p>
    </div>
  </main>

  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
    crossorigin="anonymous"></script>


  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
  <script type="text/javascript"
    src="https://cdn.datatables.net/v/bs5/jszip-2.5.0/dt-1.12.1/b-2.2.3/b-colvis-2.2.3/b-html5-2.2.3/datatables.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/2.1.0/showdown.min.js"></script>
  <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>

  <script>
    const query = JSON.parse(`<%- JSON.stringify(query) %>`);
    const config = JSON.parse(`<%- JSON.stringify(config) %>`);
    const selectedLangPack = JSON.parse(`<%- JSON.stringify(selectedLangPack) %>`);
  </script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="/static/js/datatable.js"></script>
  <script src="/static/js/form.js"></script>
</body>

</html>